name: CD Test

on:
  push:
    branches:
      - 'release/*'

jobs:
  deploy-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Deploy to Test
        run: |
          echo "Deploy su ambiente TEST / STAGING"
          # qui puoi:
          # - usare Docker
          # - pubblicare artefatti
          # - deploy su server di test
