name: CI Pipeline

on:
  pull_request:
    branches:
      - develop
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Ruff (linting)
        run: ruff check --fix app tests/plan
      - name: Run mypy (type checking)
        run: mypy app
      - name: Run pytest (unit tests)
        run: pytest --cov=app --cov-report=xml --cov-config=.coveragerc
      - name: SonarQube Scan
        #uses: sonarsource/sonarcloud-github-action@v2 questo serve per SonarCloud
        uses: SonarSource/sonarqube-scan-action@v2 #questo serve per SonarQube self-hosted
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      - name: SonarQube Quality Gate
        uses: SonarSource/sonarqube-quality-gate-action@v1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

